<ion-view view-title="About">
	<ion-content >
		

		 <div class="list">

			  <div class="item item-divider">
			    <b>Team Name <spam class="ion-arrow-right-b"> </spam></b>
			  </div>
			  <ul>
			  <i class="item"><spam class="ion-person-stalker"> </spam>Anas Ahmed</i>
			  <i class="item"><spam class="ion-person-stalker"> </spam>Aliaa Abd Elhalim</i>
			  <i class="item"><spam class="ion-person-stalker"> </spam>Sara Shreif</i>
			  <i class="item"><spam class="ion-person-stalker"> </spam>Mai Mohamed</i>
			  	</ul>
			  <div class="item item-divider">
			   <b>Version <spam class="ion-arrow-right-b"> </spam></b> 
			  </div>
			  <i class="item">1.0.0</i>


		</div>



	</ion-content>
</ion-view>