<ion-view view-title="Active Users">
	<ion-content >
		<div class="list">

			    <a class="item item-avatar" href="#">
			   
			      <h2 class="ion-checkmark-circled" style="color: green">Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#"> 
			      
			      <h2><spam class="ion-checkmark-circled" style="color: green"></spam>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>
		</div>
				    
	</ion-content>
</ion-view>
 