<ion-view view-title="Active Users">
	<ion-content >
		<div class="list">

			    <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>

			     <a class="item item-avatar" href="#">
			      
			      <h2>Venkman</h2>
			      
			    </a>
		</div>
				    
	</ion-content>
</ion-view>
 