<ion-view view-title="Chat">
	<ion-content >
	<!-- 	<label>sender1: message</label>
		<br>
		<label>sender2:message</label> -->
<ul class="list">
    <li class="item">sender1: message</li>
    <li class="item">sender2: message</li>
    <li class="item">sender3: message</li>

    
</ul>

		<div class="overlay">
			<div class="contents">
	 			<textarea class="textarea"></textarea>
				<button class="button button-block button-positive">send</button>	
			</div>	
		</div>		
	</ion-content>
</ion-view>